body {
    background-color: #525151;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    margin-bottom: 50px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    color: black;
    width: 400px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    border: solid black 2px;
    border-radius: 15px;
}

label {
    font-size: 25px;
}

input {
    padding: 15px;
    background-color: #525151;
    color: white;
}

button {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
}

p {
    font-size: 25px;
}

.button {
    background-color: blue; 
    width: 180px; 
    margin: auto; 
    padding:10px; 
    border-radius:5px
}

