body {
    background-color: rgb(175, 174, 174);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#clock {
    background-color: pink;
    border-radius: 5%;
    border: solid black 1px;
    padding: 10px;
}
